<div class="container">
    <h3>Convert currency</h3>
    <form (submit)="Convert(inputFrom.value, inputTo.name)">
        <input #inputFrom>
    
    <select [(ngModel)]="corporationObj" [value]="(corporationObj? corporationObj : 'usd')">
    <option *ngFor="let recipient of rates | keyvalue" value="{{recipient.key}}"> {{recipient.key}}</option>
    </select>

    <button (click)="Convert(inputFrom.value, inputTo.name)">Click</button>
    <p>{{rateName}}</p>
    <input #inputTo [name]="corporationObj" [value]="(value2? value2+' '+inputTo.name.toUpperCase() :' ' )">
    <br>



</div>