<div class="container">
    <h3>Convert currency</h3>
    <form (submit)="Convert()" [formGroup]="form">

        <input formControlName="input" matInput type="number" pattern="[/^[0-9]+(,.)/]*">

        <select formControlName="selectCurrency" [value]="(selectCurrency? selectCurrency : 'USD')">
            <option *ngFor="let recipient of rates | keyvalue" value="{{recipient.key}}"> {{recipient.key}}</option>
        </select>

        <p>{{rateName}}</p>
        <input formControlName="output">
        <br>

        <button (click)="Convert()">Click</button> 
    </form>

</div>