<h1>Currency converter</h1>
<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class>dinamic converter </a>
    <a routerLink="/chart" routerLinkActive="active" class>chart </a>
    <a routerLink="/clickconverter" routerLinkActive="active" class>clicable converter </a>
</nav>
<router-outlet>
</router-outlet>

<!-- <ul>
    <li>
        <a routerLink="/chart" routerLinkActive="active-link"></a>
    </li>
    <li>
        <a routerLink="/converter1" routerLinkActive="active-link"></a>
    </li>
    <li>
        <a routerLink="/converter2" routerLinkActive="active-link"></a>
    </li>
</ul> -->